@tailwind base;
@tailwind components;
@tailwind utilities;

*,
.brygada-1918-normal {
    font-family: "Brygada 1918", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.selected-token {
    background-color: aquamarine;
}

.bar {
    flex-grow: 1;
    margin: auto 0.3em;
    border-bottom: 1px #555555 dotted;
}

/* 

Camino
    primary: #0085ff
  secondary: #b440fc
     accent: #35e9ad
        sky: #b5e3fd
        
*/
